/*/*.out
/*/*.o
/*/*/*.o
/*/*.swp
/*/*.a
/*/*/*.a
/*/mlx_linux
/*/.DS_Store
*/.DS_Store
.DS_Store
/testers/*
ft_printf/paulo-test
ft_printf/trip
ft_printf/pixel
ft_printf/maz
get_next_line/libft/*
get_next_line/trip
*/.idea
*/.idea/*
fractol/Makefile_MAC
push_swap/push_swap
